# Virtual environment 
venv/

# Files Python compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# Example image
*.png

# Setuptools / egg-info
*.egg-info/
AI_Project.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# Temp files / logs
*.log
